# Environment variables
.env
*.env.local

# IDE & OS
.vscode/
.idea/
*.swp
*.DS_Store

# Node / Frontend
node_modules/
dist/
build/
.next/
*.log

# Java / Spring Boot Backend
target/
.gradle/
build/
*.jar
*.war

# Python / AI Service
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/

# Docker & Database
postgres_data/

# Cline & Memory Bank
.clinerules
#docs/memory-bank/
#docs/pm-book/github-project-management/
docs/

_bmad-output/planning-artifacts/ux-designs/